* {
  margin: 100;
  padding: 100;
  font-family: 'Montserrat', sans-serif;
}

#main-title {
  text-align: center;
  background-color: rgb(195, 201, 237);
  border: 2px solid black;
  padding: 10px;
  width: 1000px;
}

#formdiv {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 2px solid black; /* Border properties */
  padding: 10px; /* Optional padding for better spacing */
  width: 200px;
}

.box {
  text-align: center;
  border: 2px solid #0c0000;
  padding: 10px;
  width: 200px;
}

.favorites {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  width: 200px;
}
