* {
  margin: 100;
  padding: 100;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(72, 37, 13);
  background-image: url(./assets/bar6.jpg);
  max-width: 650px;
  margin: auto;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topheader {
  background: #ffffff;
  opacity: 75%;
  margin-block-start: 60px;
  margin-block-end: 45px;
  padding: 10px 10px;
}

#main-title {
  font-size: 45px;
}

.box {
  background: #ffffff;
  opacity: 75%;
  margin-block-start: 60px;
  margin-block-end: 45px;
  padding: 20px 30px;
  text-align: left;
}

.favorites {
  background: #ffffff;
  opacity: 75%;
  margin-block-start: 60px;
  margin-block-end: 45px;
  padding: 10px 30px;
  text-align: left;
}

.cocktail-name {
  background: #ffffff;
  opacity: 75%;
  margin-block-start: 60px;
  margin-block-end: 45px;
  padding: 10px 10px;
}
